
*.pxm

artwork/snapshot.png

deploy/caesura.crx

deploy/caesura.pem

*.zip

artwork/icon_128.png

artwork/icon_48.png

artwork/icon_48.png

artwork/icon_48.png

artwork/icon_48.png

.DS_Store

.DS_Store

*.xcuserstate

*.xcuserstate

mac_menubar_app/Popup/Popup.xcodeproj/xcuserdata/josep.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

mac_menubar_app/Popup/Popup.xcodeproj/project.xcworkspace/xcuserdata/josep.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

*.xcuserstate
